<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<div th:replace="fragments/common/forms-header-links :: forms_header_links"></div>

  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" th:href="@{/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
<div th:replace="fragments/common/top-nav :: top_nav"></div>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
<div th:replace="fragments/common/side-bar-menu :: side_bar_menu"></div>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:if="${Edit == true}">Edit Order</h1>
			<h1 th:unless="${Edit == true}">Add Order</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" method="post">
                <div class="card-body">
                
						<div class="form-group" th:if="${Edit == true}">
							<label for="orderId">Order ID</label>
							<input readonly type="text" class="form-control" id="orderId" name="orderId" value="">
						</div>
						
						<div class="form-group">
							<label for="notes">Notes</label>
							<input autofocus type="text" class="form-control" id="notes" name="notes" value="">
						</div>
						
						<div class="form-group">
							<label for="amount">Amount</label>
							<input type="number" class="form-control" id="amount" name="amount" value="">
						</div>
						
						<div class="form-group">
							<label for="trxid">Transaction ID</label>
							<input type="text" class="form-control" id="trxid" name="trxid" value="">
						</div>
						
						<div class="card card-default">
				          <div class="card-header">
				            <h3 class="card-title">Products List</h3>
				            <div class="card-tools">
				              <button type="button" class="btn btn-tool" data-card-widget="collapse">
				                <i class="fas fa-minus"></i>
				              </button>
				            </div>
				          </div>
				          <!-- /.card-header -->
				          <div class="card-body">
				            <div class="row">
				              <div class="col-12">
				                <div class="form-group">
				                  <label>Products</label>
				                  <select class="duallistbox" multiple="multiple" id="selectedProducts" name="selectedProducts">
				                    <option th:each="product : ${products}" th:value="${product.productId}" th:text="${product.productName}"></option>
				                  </select>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
                            
                        <div class="form-group">
                            <label for="phoneNumber">Customer Phone</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="">
                        </div>  
                            
                        <div class="form-group" th:if="${Edit == true}">
                            <label for="customerName">Customer Name</label>
                            <input readonly type="text" class="form-control" id="customerName" name="customerName" value="">
                        </div> 
						
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <input type="button" value = "Save" class="btn btn-primary" onClick="madeAjaxCall();"/>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
<!-- ./wrapper -->

<div th:replace="fragments/common/forms-footer-links :: forms_footer_links"></div>

<!-- Bootstrap4 Duallistbox -->
<script th:src="@{/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js}"></script>
<script>
  $(function () 
  {
    $('.duallistbox').bootstrapDualListbox()
  })
</script>
</body>
</html>